---
import Layout from "../../layouts/Layout.astro";
import "remixicon/fonts/remixicon.css";
---

<Layout>
  <h1 class="text-4xl font-bold">Promoters</h1>
  <section class="flex flex-row">
    <div
      class="flex flex-row items-center my-2 mr-5 bg-blue-600 p-2 rounded-lg"
    >
      <i class="ri-file-list-3-line text-4xl"></i>
      <p class="py-4 px-2">Catalog</p>
    </div>
    <div
      class="flex flex-row items-center my-2 mr-5 bg-blue-600 p-2 rounded-lg"
    >
      <i class="ri-quill-pen-line text-4xl"></i>
      <p class="py-4 px-2">Design</p>
    </div>
    <div
      class="flex flex-row items-center my-2 mr-5 bg-blue-600 p-2 rounded-lg"
    >
      <i class="ri-questionnaire-line text-4xl"></i>
      <p class="py-4 px-2">Help</p>
    </div>
  </section>
</Layout>
